<header>
    <!-- phone -->
    <div class="nav-container">
        <img src="./assets/imgs/mylogo.png" alt="My Logo" class="mylogo">
        <nav>
            <img src="./assets/imgs/menu-4-48 (1).png" class="hide" id="toggle_btn">
            <a href="#project">PROJECTS</a>
            <a href="#about">ABOUT</a>
            <a href="#skills">SKILLS</a>
        </nav>
    </div>


    <div class="phone-menu-container">
        <aside id="side_menu">
            <div class="side-menu">
                <a href="#">PROJECTS</a>
                <a href="#">ABOUT</a>
            </div>
        </aside>
        <div>
            <img src="./assets/imgs/profile_img.JPG" class="profile-responsiv-img hide">
        </div>
    </div>

   
</header>