<header>
    <div>
        <nav>
            <img src="./assets/imgs/menu-4-48 (1).png" class="hide" id="toggle_btn">
            <a href="#work">WORK</a>
            <a href="#project">PROJECTS</a>
            <a href="#about">ABOUT</a>
            <a href="#skills">SKILLS</a>
        </nav>
        <img src="./assets/imgs/mylogo.png" alt="My Logo" class="mylogo">
    </div>

    <div class="phone-menu-container">
        <aside id="side_menu">
            <div class="side-menu">
                <a href="#">WORK</a>
                <a href="#">PROJECTS</a>
                <a href="#">ABOUT</a>
            </div>
        </aside>
        <div>
            <img src="./assets/imgs/profile_img.JPG" class="profile-responsiv-img hide">
        </div>
    </div>

    <div class="profile-img"></div>
    <div class="background"></div>

    <div class="introduction-container">
        <h1>
            <p>Hello</p>
            <p>I`m <span>Cagri</span></p>
            <p>Avsar</p>
        </h1>

        <div class="social-media">
            <a href="https://github.com/CagriAvsar" target="blank"><img src="./assets/imgs/github-fill.png" alt="Github"></a>
            <a href="https://www.linkedin.com/in/cagri-avsar-3837a522b/" target="blank"><img src="./assets/imgs/LinkedIn 1.png" alt="LinkedIn"></a>
            <a href="https://www.xing.com/profile/Cagri_Avsar2/cv" target="blank"><img src="./assets/imgs/xing-fill.png" alt="LinkedIn"></a>
            <a href="https://chatwith.io/s/cagri-avsar" target="blank"><img src="./assets/imgs/whatsapp-48.png" alt="WhatsApp"></a>
        </div>
    </div>

    <div class="dwnl-btn-container">
        <a href="./assets/downloads/cv.pdf" target="blank"><button class="download-btn">DOWNLOAD C.V.</button></a>
    </div>
</header>