header {
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    box-shadow: 1px -4px 5px 3px #262626;
    background-color: rgb(247 247 247 / 92%);
    color: var(--gold-color);
    filter: blur(2);
    // class activ when scrolled
    .scrolled-header {
        background-color: rgba(176, 176, 176, 0.788);
        filter: blur(2);
    }
    .nav-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 300px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 475px;
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 6.33143px;
            color: black;
            text-decoration: none;
            transition: 250ms ease-in-out;
            margin: 0;
            &:hover {
                color: var(--gold-color);
                transform: scaleX(0.9);
            }
        }
    }
    .my-logo {
        width: 85px;
        cursor: pointer;
    }
    img {
        width: 45px;
    }
}

// ###################################################################
// ###################################################################
// --------------------  RESPONSIVE 950px  --------------------
// ###################################################################
// ###################################################################
@media (max-width: 950px) {
    header {
        .mylogo {
            height: 50px;
            top: 1em;
            left: 1.2em;
        }
        .nav-container {
            padding: 0 16px;
        }
        nav {
            top: 18px;
            right: 8px;
            left: 0;
            width: 100%;
            justify-content: center;
            a {
                font-size: 12px;
                letter-spacing: unset;
            }
            a:nth-child(even) {
                margin: 0 35px;
            }
            img {
                width: 35px;
                height: 35px;
                display: flex;
                margin-right: 8px;
                z-index: 20;
            }
        }
        .phone-menu-container {
            display: block !important;
            height: 80px;
        }
    }
    .introduction-container {
        top: 770px !important;
        left: 16px !important;
        right: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .social-media {
        display: flex;
        justify-content: space-around;
    }
    .download-btn {
        left: 16px !important;
        top: 50em;
        height: 95px;
        opacity: 1 !important;
    }
}

@media (max-width: 380px) {
    .dwnl-btn-container {
        position: absolute;
        top: 29px;
        width: 90%;
    }
    .download-btn {
        padding: 0 !important;
        margin: 0;
        width: 100% !important;
    }
}