header {
    height: 100vh;
    .mylogo {
        position: absolute;
        top: 30px;
        left: 100px;
        height: 80px;
    }
    nav {
        position: absolute;
        top: 60.5px;
        left: 386px;
        height: 24px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 475px;
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 6.33143px;
            color: #000000;
            text-decoration: none;
            transition: 250ms ease-in-out;
            margin: 0;
            &:hover {
                color: var(--gold-color);
                transform: scaleX(0.9);
            }
        }
    }
    .profile-img {
        background-image: url('../../assets/imgs/profile_img.JPG');
        z-index: 2;
        position: absolute;
        right: 0px;
        top: 90px;
        width: 580px;
        height: 564px;
        background-position: center;
    }
    .background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 66px;
        // left: 321px;
        width: 80%;
        background: #fafafa;
    }
    .introduction-container {
        position: absolute;
        top: 130px;
        left: 100px;
        h1 {
            font-weight: bold;
            font-size: 60px;
            line-height: 90px;
            color: #000000;
            span {
                color: var(--gold-color);
                margin-left: 14px;
            }
        }
        .social-media {
            margin-top: 50px;
            a:nth-child(2n) {
                margin-left: 12px;
            }
        }
        img {
            width: 45px;
        }
    }
    .download-btn {
        position: absolute;
        left: 100px;
        bottom: 30px;
        padding: 30px 20px;
        width: 355px;
        border: none;
        cursor: pointer;
        background: var(--gold-color);
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 8.29714px;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    //######### ASIDE MENU #########
    .phone-menu-container {
        position: relative;
        overflow: hidden;
        aside {
            transition: 225ms ease-in-out;
            position: absolute;
            right: 0;
            top: 80px;
            bottom: 40px;
            transform: translateX(300px);
            .side-menu {
                display: flex;
                flex-direction: column;
                background-color: rgba(246, 246, 246, 0.5);
                height: 100%;
                width: 250px;
                z-index: 99;
                padding: 20px;
                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: bold;
                    font-size: 25px;
                    margin-top: 45px;
                }
            }
        }
    }
}

// ###################################################################
// ###################################################################
// --------------------  RESPONSIVE 950px  --------------------
// ###################################################################
// ###################################################################
@media (max-width: 950px) {
    header {
        display: flex;
        flex-direction: column;
        .mylogo {
            height: 50px;
            top: 1em;
            left: 1.2em;
        }
        nav {
            top: 18px;
            right: 8px;
            left: 0;
            width: 100%;
            justify-content: flex-end;
            a {
                display: none;
            }
            img {
                width: 35px;
                height: 35px;
                display: flex;
                margin-right: 8px;
                z-index: 20;
            }
        }
        .profile-responsiv-img {
            display: block;
            margin-top: 80px;
            width: 100%;
            height: 657px;
            object-fit: cover;
        }
    }
    .profile-img {
        display: none;
    }
    .background {
        display: none;
    }
    .introduction-container {
        top: 770px !important;
        left: 16px !important;
        right: 0;
        display: flex;
        flex-direction: column-reverse;
        h1 {
            margin: 0;
            p {
                font-size: 45px;
            }
        }
    }
    .social-media {
        display: flex;
        justify-content: space-around;
    }
    .download-btn {
        left: 16px !important;
        top: 1120px;
        height: 95px;
        opacity: 1 !important;
    }
}

@media (max-width: 380px) {
    .dwnl-btn-container {
        position: absolute;
        top: 29px;
        width: 90%;
    }
    .download-btn {
        padding: 0 !important;
        margin: 0;
        width: 100% !important;
    }
}

@media (min-width: 1500px) {


    .profile-img {
        width: 713px;
        height: 860px;
        background-repeat: no-repeat;
    }

}