<div class="form-container">

    <div class="form-content">
        <h1>Let´s talk about Business</h1>
        <div>
            Now that you know a lot about me, let me know if you are interested to work with me.
        </div>
    </div>

    <div class="form-inputs-container">
        <form action="">
            <label for="">Name</label>
            <input type="text" required>
            <label for="">Email</label>
            <input type="email" required>
            <label for="">Message</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button>LET´S GET STARTED</button>
        </form>
    </div>

</div>