.form-container {
    position: relative;
    background-color: var(--gold-color);
    margin-top: 120px;
    margin-right: 300px;
    margin-left: 300px;
    padding: 66px 72px 66px 66px;
    display: flex;
    justify-content: space-between;
    .form-content {
        max-width: 50%;
        h1 {
            font-weight: bold;
            font-size: 50px;
            line-height: 90px;
        }
    }
    .form-inputs-container {
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 95px;
        form {
            display: flex;
            flex-direction: column;
            input {
                margin-bottom: 50px;
                padding: 8px;
                border: none;
                &:focus {
                    outline: none;
                }
            }
            textarea {
                border: none;
                padding: 4px 6px;
                &:focus {
                    outline: none;
                }
            }
            button {
                background: #0F0F10;
                color: #fff;
                width: 525px;
                height: 75px;
                margin-top: 50px;
                padding: 24px 33px;
                border: none;
                cursor: pointer;
                &:hover {
                    color: var(--gold-color);
                }
            }
        }
    }
}

.mailSuccess {
    position: absolute; 
    top: 200px;
    left: 500px;
    width: 400px;
    height: 350px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 255ms ease-in-out;

}



@media (max-width: 991px) {
    .form-container {
        flex-direction: column;
        margin:  0 16px;
        .form-content {
            max-width: 100%;
            h1 {
                font-size: 45px;
            }
            span {
                font-size: 20px;
            }
        }
        .form-inputs-container {
            form {
                width: 100%;
                label {
                    margin-bottom: 10px;
                }
                input {
                    padding: 12px;
                }
                button {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 380px) {
    .form-container {
        width: 61;
    }
    h1 {
        font-size: 35px !important;
    }
}

// @media (max-width: 280px) {
//     h1 {
//         font-size: 24px !important;
//     }
//     button {
//         font-size: 10px;
//         width: 110px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
// }