<div class="form-container">

    <div class="form-content">
        <h1>Contact Me</h1>
        <span>
            Now that you know a lot about me, let me know if you are interested to work with me.
        </span>
    </div>

    <div class="form-inputs-container">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <label for="">Name</label>
            <input type="text" placeholder="What is your Name?" id="name" required [(ngModel)]="contact.name"
                name="name" #name="ngModel">
            <label>Email</label>
            <input type="email" placeholder="What is your Email Address?" required [(ngModel)]="contact.email" name="email"
                #email="ngModel">
            <label for="">Message</label>
            <textarea name="text" rows="10" placeholder="What would you like to tell me?" required
                [(ngModel)]="contact.message" name="message" #message="ngModel"></textarea>
            <button type="submit" [disabled]="!contactForm.form.valid" (click)="showSending()">SEND MAIL</button>
        </form>
    </div>

    <div *ngIf="successActive" class="mailSuccess">
        <h2>Your message has been sent successfully</h2>
        <h4>Thank you for your message</h4>
    </div>

</div>