<div class="form-container">

    <div class="form-content">
        <h1>Let`s talk about Business</h1>
        <span>
            Now that you know a lot about me, let me know if you are interested to work with me.
        </span>
    </div>

    <div class="form-inputs-container">
        <form action="">
            <label for="">Name</label>
            <input type="text" name="name" required>
            <label for="">Email</label>
            <input type="email" name="email" required>
            <label for="">Message</label>
            <textarea name="message" id="" cols="30" rows="10"></textarea>
            <button type="submit">LET`S GET STARTED</button>
        </form>
    </div>

</div>