<div class="about-section" id="about">

    <h1>About</h1>

    <div class="about-me">
        Hello, my name is Cagri Avsar and I would like to introduce myself in this section. I think each and every one of us has something that we enjoy doing, you just have to discover it. For some it is as early as childhood and for some it is their 30th or
        50th year. I personally discovered it when I was 32. I have already had some experience in professional life and nothing was as much fun as creating different programs. The decision to learn programming opened a new chapter in my professional
        life and also had a positive impact on my personality. Which is also one of the main reasons why I love programming so much, that you never stop learning and always take on new challenges that make you better and stronger every day. I'm hungry,
        I want to constantly learn, acquire new skills and thus prepare myself and you for a better future.<i><br> "You only stop living, when you stop learning!"</i>
    </div>

    <img src="./assets/imgs/contact-img.jpg">

    <div class="adress-container">
        <div class="adress-content">
            I'm ready for the future. If you would like to walk this path with me, please feel free to contact me by phone or email.
        </div>
        <div class="adress" data-aos="zoom-in">


            <div class="column mgt-16">
                <span class="adress-headline">ROLE</span>
                <span>Frontend Developer</span>
            </div>

            <div class="column mgt-16">
                <span class="adress-headline">EMAIL</span>
                <a href="mailto:c.avsar@hotmail.com" title="Mail senden...">c.avsar@hotmail.com</a>
            </div>

            <div class="column mgt-16">
                <span class="adress-headline">PHONE</span>
                <a href="tel:+491794128203" title="Meine Telefonnummer">0179 41282 03</a>
            </div>
        </div>
    </div>

    <div class="para-2">
        I am an excellent team player and feel comfortable in teams. I generally owe that to my open nature and years of team sports. I always know how to motivate myself and always manage to stay positive. I really like challenges because it makes me better.
        I also have the mentality of a fighter who is not afraid of any task. Giving up is not on my list.<br> I hope to be able to work with you in the future.
    </div>

    <span class="signature">
Cagri Avsar
</span>
</div>