<h1>WORK</h1>
<div class="work-section-container">

    <div class="works space">
        <span>Champs Trophy
            <p>December 2021</p>
        </span>
        <div>
            <span class="work-description">Workplace platform mobile app designed to provide long lasting feature.</span>
            <div>
                <span class="pill">HTML</span>
                <span class="pill">CSS</span>
                <span class="pill">JavaScript</span>
            </div>
        </div>
    </div>

    <div class="works space">
        <span>Enovy Mobile
            <p>December 2021</p>
        </span>
        <div>
            <span class="work-description">Workplace platform mobile app designed to provide long lasting feature.</span>
            <div>
                <span class="pill">Web Design</span>
                <span class="pill">Frontend</span>
            </div>
        </div>
    </div>

    <div class="works space">
        <span>Sephora
            <p>December 2021</p>
        </span>
        <div>
            <span class="work-description">Workplace platform mobile app designed to provide long lasting feature.</span>
            <div>
                <span class="pill">Design Thinking</span>
                <span class="pill">User Research</span>
            </div>
        </div>
    </div>

    <div class="works space">
        <span>Vitaage
            <p>December 2021</p>
        </span>
        <div>
            <span class="work-description">Workplace platform mobile app designed to provide long lasting feature.</span>
            <div>
                <span class="pill">HTML</span>
                <span class="pill">Frontend</span>
            </div>
        </div>
    </div>

</div>