<div class="work-section-container">
    <h1>WORK</h1>
    <div class="works space">
        <span class="works-header">Hotel/Gastronomy
            <p>August 2008</p>
        </span>
        <div class="work-description-container">
            <span class="work-description">I successfully completed my first 3-year apprenticeship as a hotel specialist on 08.2011.
                That's when my interest in computers and programs was awakened. There I worked a lot on the PC with the Amadeus program at reception and in the reservations department.</span>
            <div class="pill-container">
                <span class="pill">Rezeption</span>
                <span class="pill">Reservation</span>
                <span class="pill">Amadeus</span>
            </div>
        </div>
    </div>

    <div class="works space">
        <span class="works-header">Transport services
            <p>August 2012</p>
        </span>
        <div class="work-description-container">
            <span class="work-description">After I got out of gastronomy, I did a second apprenticeship in the Cologne public transport company. It was commercial and I also worked on the computer there. There I worked in the human resources department, financial administration, planning and deployment of buses, duty rostering, the accident department and in service.Among other things, I worked with Excel and SAP programs.</span>
            <div class="pill-container">
                <span class="pill">Excel</span>
                <span class="pill">SAP</span>
            </div>
        </div>
    </div>

    <div class="works space">
        <span class="works-header">Retail
            <p>December 2019</p>
        </span>
        <div class="work-description-container">
            <span class="work-description">In 2019 I started retail. I wanted to learn more about buying and selling, so I started at the Rewe supermarket and got the job of branch manager there.
                I took over the purchasing and the management of the finances.
            </span>
            <div class="pill-container">
                <span class="pill">Finances</span>
                <span class="pill">Purchasing</span>
            </div>
        </div>
    </div>

    <div class="works space">
        <span class="works-header">Developer Akademie
            <p>April 2021</p>
        </span>
        <div class="work-description-container">
            <span class="work-description">
                So far I have successfully completed 2 apprenticeship. The first as a hotel specialist 08.2008 - 08.2011 and the other commercially at the Cologne public transport company 08.2012 - 08.2015 and worked as a bus driver until 2018. After that I worked as a branch manager in the supermarket at Rewe and now I work on the assembly line at UPS at the airport as a group leader. 
           </span>
            <span class="work-description hide">
                I quickly realized I wanted to do something on the PC. And not just entering/requesting information or calculations, but much more. So I went on a search and discovered programming.
                So I applied to the Developer Academy to acquire the skills I need to find my dream job.</span>
            <div class="pill-container">
                <span class="pill">HTML</span>
                <span class="pill">CSS</span>
                <span class="pill">JavaScript</span>
                <span class="pill">Angular</span>

            </div>
        </div>
    </div>

</div>