<div class="project-section-container">

    <h1>My Projects</h1>


    <div class="projects-container">

        <div class="project-description-container">
            <div class="project-img-container">
                <img src="./assets/imgs/pollo-loco.png" class="project-img">
            </div>
            <div class="description-content-container">
                <h3 class="description-headline">El Pollo Loco</h3>
                <span class="description-content">
                    I learned a lot about object-oriented programming with this Jump´n Run game. I learned how to create a complex project with different classes of clear functions and code.
                </span>
            </div>
        </div>

        <div class="project-description-container">
            <div class="description-content-container">
                <h3 class="description-headline">PokeDex</h3>
                <span class="description-content">
                    <b>Come catch´em all!</b><br>
                    With API's it's no longer a problem.
                    In this project I learned to work with
                    interfaces and to work with the data from the APIs.                
                </span>
            </div>
            <div class="project-img-container">
                <img src="./assets/imgs/person.jpg" class="project-img">
            </div>
        </div>

        <div class="project-description-container">
            <div class="project-img-container">
                <img src="./assets/imgs/person.jpg" class="project-img">
            </div>
            <div class="description-content-container">
                <h3 class="description-headline">Kanban Board</h3>
                <span class="description-content">
                    It's easier to split up the work and keep track of things when others are working on the same project.
                    With this group project, I not only had the experience of working with a Kanban Board, but also created one myself.  
                </span>
            </div>
        </div>

    </div>

</div>