<div class="project-section-container">

    <h1>Projects</h1>


    <div class="projects-container">

        <div class="project-description-container">
            <img src="/assets/imgs/person.jpg" class="project-img">
            <div class="description-content-container">
                <h3 class="description-headline">Sample 1blablq</h3>
                <span class="description-content">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-
                </span>
            </div>
        </div>

        <div class="project-description-container">
            <div class="description-content-container">
                <h3 class="description-headline">Sample 1blablq</h3>
                <span class="description-content">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-
                </span>
            </div>
            <img src="/assets/imgs/person.jpg" class="project-img">
        </div>

        <div class="project-description-container">
            <img src="/assets/imgs/person.jpg" class="project-img">
            <div class="description-content-container">
                <h3 class="description-headline">Sample 1blablq</h3>
                <span class="description-content">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-
                </span>
            </div>
        </div>

    </div>

</div>