.project-section-container {
    padding-left: 300px;
    padding-right: 300px;

    h1 {
        font-size: var(--headline-size);
        line-height: 120px;
    }

    .projects-container {
        display: flex;
        flex-direction: column;

        .projects-btn-container {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                margin-left: 64px;
                margin-bottom: 32px;
                padding: 16px 32px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                border-radius: 4px;
                width: 280px;
                cursor: pointer;
                letter-spacing: 6px;
                background-color: var(--gold-color);
            }
        }



        .project-description-container {
            display: flex;
            align-items: center;
            margin-bottom: 64px;
            gap: 60px;


            .description-headline {
                font-weight: bold;
                font-size: 54px;
                line-height: 81px;
                letter-spacing: -0.257143px;
                color: #999999;
            }

            .description-content-container {
                max-width: 60%;
                line-break: strict;

                .description-content {
                    font-size: 18px;
                    line-height: 33px;
                    letter-spacing: 0.385714px;
                    color: #6D6D6D;
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                transition: 255ms ease-in-out;

            }
        }

        .project-description-container:nth-child(even) {
            flex-direction: row-reverse;
        }

        .project-img-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 225ms ease-in-out;
            height: 300px;
            width: 500px;

            img {
                object-fit: cover;
            }
        }


        .overlay-img {
            opacity: 1;
            padding: 20px;
            position: absolute;
            font-size: 24px;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.75);
            color: white;


            h1 {
                color: var(--gold-color);
            }

            a {
                width: 72px;

                button {
                    cursor: pointer;
                    width: 72px;
                    padding: 4px;
                    border: none;
                    border-radius: 4px;
                    background-color: var(--gold-color);
                    letter-spacing: 5px;
                    font-weight: 700;
                }
            }

        }
    }
}

@media (max-width: 1200px) {
    .project-section-container {
        flex-direction: column;
        overflow-x: hidden;

        h1 {
            font-size: 45px;
        }

        .projects-container {
            .project-description-container:nth-child(even) {
                flex-direction: column-reverse;
                background-color: #F6F6F6;
            }

            .project-description-container {
                flex-direction: column;
                background-color: #F6F6F6;
                padding-bottom: 18px;

                .description-content-container {
                    max-width: fit-content !important;
                    padding: 12px;

                    h3 {
                        font-size: 30px;
                        color: #000;
                        padding: 0 6px 0 6px;
                    }

                    .description-content {
                        font-size: 25px;
                        font-weight: 400;
                        line-height: 35px;
                        color: #000;
                    }
                }
            }


            .project-img-container {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .project-section-container {
        overflow-x: hidden;
        padding: 0 16px !important;

        h1 {
            font-size: 2em;
        }
    }

    .description-content-container {
        max-width: fit-content !important;

        .description-content {
            font-size: 18px !important;
        }
    }

    .projects-btn-container {
        button {
            margin-left: unset !important;
        }
    }
}

@media (max-width: 700px) {
    .project-section-container {
        padding: 0 50px;
    }

    .projects-btn-container {

        flex-direction: column;
    }

    .overlay-img {
        align-items: center;
        font-size: 21px !important;
        h1 {
            font-size: 2em;
        }
    }
}