<h1>My Skills</h1>
<div class="main-container">
    <div class="skill-container">
        <div class="skill-row">
            <div class="skill-img-container">
                <img src="./assets/imgs/htmlcss.png" alt="HTML/CSS">
            </div>

            <div class="skill-img-container">
                <img src="./assets/imgs/javascript.png" alt="JAVASCRIPT">
            </div>

            <div class="skill-img-container">
                <img src="./assets/imgs/angular.png" alt="ANGULAR">
            </div>
        </div>

        <div class="skill-row mrgn-80">
            <div class="skill-img-container">
                <img src="./assets/imgs/htmlcss.png" alt="HTML/CSS">
            </div>

            <div class="skill-img-container">
                <img src="./assets/imgs/javascript.png" alt="JAVASCRIPT">
            </div>

            <div class="skill-img-container">
                <img src="./assets/imgs/angular.png" alt="ANGULAR">
            </div>
        </div>

    </div>
</div>