<div class="main-container" id="home">



    <div class="introduction-container">
        <h1>
            <p>Hello</p>
            <p>I`m <span>Cagri</span></p>
            <p>Avsar</p>
        </h1>

        <div class="social-media">
            <a href="https://github.com/CagriAvsar" target="blank"><img src="./assets/imgs/github-fill.png" alt="Github"></a>
            <a href="https://www.linkedin.com/in/cagri-avsar-3837a522b/" target="blank"><img src="./assets/imgs/LinkedIn 1.png" alt="LinkedIn"></a>
            <a href="https://www.xing.com/profile/Cagri_Avsar2/cv" target="blank"><img src="./assets/imgs/xing-fill.png" alt="LinkedIn"></a>
            <a href="https://chatwith.io/s/cagri-avsar" target="blank"><img src="./assets/imgs/whatsapp-48.png" alt="WhatsApp"></a>
        </div>


        <div class="dwnl-btn-container">
            <a href="./assets/downloads/cv.pdf" target="blank"><button class="download-btn">DOWNLOAD C.V.</button></a>
        </div>

    </div>

    <div class="profile-img-container">
        <img src="./assets/imgs/profile_img.JPG" alt="">
    </div>



</div>