.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:  300px;
}


h1 {
    font-weight: bold;
    font-size: 81px;
    line-height: 164px;
    color: #000000;
}

span {
    color: var(--gold-color);
    margin-left: 14px;
}




.download-btn {
    padding: 30px 20px;
    margin-top: 80px;
    width: 355px;
    border: none;
    cursor: pointer;
    background: var(--gold-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 8.29714px;
    opacity: 0.9;

    &:hover {
        opacity: 1;
    }
}

.profile-img-container {
    margin-top: 80px;
    img {
        margin: 0;
        height: 800px;
        width: 700px;
    }
}



// ##############################################################
// RESPONSIVE
// ##############################################################

@media (max-width: 991px) {
    .main-container {
        flex-direction: column-reverse;
        padding: 0 16px;
    }

h1 {
    font-size: 53px;
    line-height: 86px;
}
}

    .introduction-container {
        margin-top: 100px;
    }

    .social-media {
        margin-top: 50px;

        a:nth-child(even) {
            margin-left: 16px;
        }

     
    }

    @media (max-width: 845px) {
        .profile-img-container {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    

